<main class="main-content col mt-5">
  <div class="main-content-container container-fluid px-4 my-auto h-100">
    <div class="row no-gutters h-100">
      <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto">
        <div class="card">
          <div class="card-body">
            <img class="auth-form__logo d-table mx-auto mb-3" src="../../assets/images/shards-dashboards-logo.svg" alt="Shards Dashboards - Register Template">
            <h5 class="auth-form__title text-center mb-4">Create New Account</h5>
            <h4 class="alert-danger">{{authService.errorMessage}}</h4>
            <form [formGroup]="signInForm" (ngSubmit)="onSignUp()">
              <div class="form-group ng-valid">
                <label for="exampleInputEmail1">Email address</label>
                <h6 *ngIf="signInForm.get('login')!.touched && signInForm.get('login')!.valid" class="text-danger"> address mail invalid </h6>
                <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp"
                      formControlName="login"  placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                       formControlName="name" placeholder="Enter Your Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <h6 *ngIf="signInForm.get('password')!.touched && signInForm.get('password')!.valid" class="text-danger">
                  at least 8 characters
                </h6>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Repeat Password</label>
                <h6 *ngIf="signInForm.get('password')!.touched && signInForm.get('password')!.valid" class="text-danger">
                  at least 8 characters
                </h6>
                <input type="password"  formControlName="confirmPassword" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password">
              </div>
              <div class="form-group mb-3 d-table mx-auto">
                <div class="custom-control custom-checkbox mb-1">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">I agree with the <a href="#">Terms & Conditions</a>.</label>
                </div>
              </div>
              <button type="submit" [disabled]="signInForm.invalid" class="btn btn-pill btn-accent-2 d-table mx-auto"> Sign Up</button>
              <button (click)="onSignInWithGoogle()" class="btn btn-pill btn-accent-3 d-table mx-auto mt-2"><i class="fab fa-google-plus-g"></i>
                Sign Up With GOOGLE</button>
            </form>
          </div>
          <div class="card-footer border-top">

          </div>
        </div>
        <div class="auth-form__meta d-flex mt-4">
          <a class="ml-auto" routerLink="/login">Sign In?</a>
        </div>
      </div>
    </div>
  </div>
</main>
