<main class="main-content col">
  <div class="main-content-container container-fluid px-4 my-auto h-100">
    <div class="row no-gutters h-100">
      <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto">
        <div class="card">
          <div class="card-body">
            <img class="auth-form__logo d-table mx-auto mb-3" src="../../assets/images/shards-dashboards-logo.svg" alt="Shards Dashboards - Register Template">
            <p class="bg-danger text-black-50">{{authService.errorMessage}}</p>
            <h5 class="auth-form__title text-center mb-4">Access Your Account</h5>
            <form [formGroup]="singUpForm" (ngSubmit)="onSingIn()">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      formControlName="login" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group mb-3 d-table mx-auto">
                <div class="custom-control custom-checkbox mb-1">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">Remember me for 30 days.</label>
                </div>
              </div>
              <button type="submit" [disabled]="singUpForm.invalid" class="btn btn-pill btn-accent-2 d-table mx-auto">Access Account</button>
              <button (click)="onSignInWithGoogle()" class="btn btn-pill btn-accent-3 d-table mx-auto mt-2"><i class="fab fa-google-plus-g"></i>
                Sign Up With GOOGLE</button>
            </form>
          </div>
          <div class="card-footer border-top">
            <ul class="auth-form__social-icons d-table mx-auto">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-github"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="auth-form__meta d-flex mt-4">
<!--          <a href="forgot-password.html">Forgot your password?</a>-->
          <a class="ml-auto" routerLink="/sign-up">Create new account?</a>
        </div>
      </div>
    </div>
  </div>
</main>
