.btn-accent-2 {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff!important;
  box-shadow: none;
}

.btn-accent-3 {
  color: black;
  border-color: black;
  background-color: white;
  box-shadow: none;
}
